#name {
  background: darkred;
  color: lightblue;
  text-align: center;
}
a {
  color: lightblue;
}

#work {
  width: 60%;
  column-count: 2;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  background-color: darkred;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: lightblue;
  text-align: center;
}

img.propic {
  width: 320px;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px dotted lightblue;
  border-radius: 4px;
  text-align: center;
}

#profile {
  text-align: center;
  color: lightskyblue;
}
